@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a192f;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 5rem;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #0a192f; 
    z-index: 1000;
}

ul{
    display: flex;
    justify-content: center;
    width: 100%;
}

li{
    list-style-type: none;
    text-transform: uppercase;
    margin: 4rem;
}

a{
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

a:hover{
    transition: color 0.5s ease;
}

.container {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    margin: 5rem;
    margin-top: 5em;
    flex-wrap: wrap;
}

.introduction {
    color: white;
    font-size: 2rem;
    flex: 1;
    margin-right: 2rem;

}

.introduction p {
    font-family: "Nunito", sans-serif;
}

.text {
    text-transform: uppercase;
}

.introduction span {
    text-transform: capitalize;
    font-size: 3rem;
    padding: 0.3rem 0;
    display: inline-block;
    color: #3178c6;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.button {
    display: inline-block;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #7ab080;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    font-weight: 600;
}

.button:hover {
    background-color: #df8b64;
}

.social {
    margin-top: 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.social img {
    height: 2.5rem;
    cursor: pointer;
}

.profile_img img {
    height: 25rem;
    border-radius: 50%;
    background-color: #2f004e;
    border: 1px solid #4b4b4b;
    margin-top: -2rem;
}

@media screen and (max-width: 800px) {
    .profile_img img{
        display: none;
    }
    nav{
        display: none;
    }
    .projects{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}


.resume{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    font-family: "Nunito", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.resume h1{
    color: #ffa500;
    margin-bottom: 1rem;
}

.resume span{
    color: rgba(255, 166, 0, 0.815);
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.profile img{
    height: 20rem;
}

.button a{
    text-decoration: none;
    color: #ffffff;
}

.hey{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.habilities{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.itens{
    display: flex;
    margin: 1rem;
}

.itens img{
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.itens img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.about_me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about_me h1{
    margin: 0.5rem;
}

.about_me p{
    text-align: center;
    width: 70%;
    background-color: #00000079;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.projects{
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my_projects{
    height: 25rem;
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: #000000 1px solid;
    border-radius: 1rem;
    background-color: #55565833;
}

.my_projects img{
    height: 15rem;
    margin-top: 10px;
    border-radius: 1rem;
    cursor: pointer;
}

.my_projects img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.my_projects a{
    color: inherit;
    text-decoration: none;
    background-color: #ffa500;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
    width: 5rem;
    text-transform: capitalize;
    text-align: center;
}

.my_projects a:hover{
    background-color: #c27e00;
    transition: background-color 0.3s ease;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}

footer{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 3rem;
}

footer span{
    color: #ffa500;
}